<!DOCTYPE HTML>
<html ng-app="Employee">
	<head>
		<title>Add Employee</title>
	</head>
	<body ng-controller="EmployeeCtrl">
		<form>
			<table>
				<tr>
					<th colspan="2">Fill Employee Information</th>
				</tr>
		   		<tr>
		   			<th>Employee Name :</th>
		   			<td><input type="text" ng-model="emp.Name"/></td>
		   		</tr>
		   		<tr>
		   			<th>Email :</th>
		   			<td><input type="email" ng-model="emp.Email"/></td>
		   		</tr>
		   		<tr>
		   			<th>Phone No. :</th>
		   			<td><input type="text" ng-model="emp.Phone"/></td>
		   		</tr>
		   		<tr>
		   			<th>Employee Level :</th>
		   			<td>
		   				<select name="empLevel" ng-model="emp.Level" ng-change="change()">
			   				<option>2</option>
			   				<option>3</option>
			   				<option>4</option>
		   				</select>
		   			</td>
		   		</tr>
		   		<tr ng-show="flag">
		   			<th>Parrent Name :</th>
		   			<td>
		   				<select name="empLevel" ng-model="emp.Parrent">
			   				<option>2</option>
			   				<option>3</option>
			   				<option>4</option>
		   				</select>
		   			</td>
		   		</tr>
		   		<tr>
		   			<th><input type="button" ng-click="addEmployee()" value="Add Employee"></th>
		   			<td><input type="reset" value="Cancel"></td>
		   		</tr>
		   	</table>
		</form>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="EmployeeCtrl.js"></script>
	</body>
</html>